@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
/* @font-face {
  font-family: "Lexend", sans-serif;
  font-style: normal;
  font-weight: 300 400 500 600 700;
  font-display: swap;
  src: url("./assets/fonts/Lexend-VariableFont_wght.ttf") format("truetype");
} */

@theme {
  --color-primary: #6200EE;
  --color-secondary: #170037;
  --font-lexend: "Lexend", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-third: #4600A9;
  --color-primarywhite: #FEF3F7;
  --color-purplesecondary: #360083;
  --color-hero: #EFE6FD;
  --color-pinksecondary: #F8B1CC;
  --color-pinkprimary: #CEB0FA;
  --color-gradientcustom: rgba(206, 176, 250, 0.68);
  --color-secondarywhite: #EFE6FD;
  
  
}

//Custom css
.inner-shadow {
    box-shadow: inset 0 4px 8px rgba(97, 62, 143, 0.1);
}