@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";
/* @font-face {
  font-family: "Lexend", sans-serif;
  font-style: normal;
  font-weight: 300 400 500 600 700;
  font-display: swap;
  src: url("./assets/fonts/Lexend-VariableFont_wght.ttf") format("truetype");
} */

@theme {
  --color-primary: #6200EE;
  --color-secondary: #170037;
  --font-lexend: "Lexend", sans-serif;
  --color-third: #4600A9;
}